-
    let menu = [
        {
            name: "Home",
            url: "#"
        },
        {
            name: "Why MISOCIAL",
            url: "#"
        },
        {
            name: "Features",
            url: "#"
        },
        {
            name: "Articles",
            url: "#"
        },
        {
            name: "Pricing",
            url: "#"
        }
    ]

-
    let figures = {
        low_plan: {
            src: "../img/low",
            alt: "low_plan_marketing",
            span: "PERSONAL",
            price: "0",
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat."
            ],
            url: "#"
        },
        medium_plan: {
            src: "../img/medium",
            alt: "medium_plan_marketing",
            span: "PERSONAL",
            price: "29",
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat."
            ],
            url: "#"
        },
        high_plan: {
            src: "../img/high",
            alt: "high_plan_marketing",
            span: "PERSONAL",
            price: "49",
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat."
            ],
            url: "#"
        }
    }

mixin menu (items)
    for item in items
        li
            a(href=item.url) #{item.name}

mixin figures (item)
    figure
        figcaption
            .picture
                picture
                    source(srcset=item.src + ".webp", type="image/webp")
                    img(src=item.src + ".png", alt=item.alt)
            p
                span #{item.span}
            p.price
                b $
                | #{item.price}
                i /month
            .product_description
                for text in item.description
                    p #{text}
            .buy_button
                a(href=item.url) select plan